@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: futura-pt, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}


@layer utilities{
  .anchor{
    @apply uppercase text-secondary no-underline hover:underline hover:animate-bounce animate-none underline-offset-8;
  }
}

