@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.calligraffitti-regular {
  font-family: "Calligraffitti", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

@layer utilities {
  .anchor {
    @apply uppercase text-secondary no-underline hover:underline transform hover:scale-125 scale-100 animate-none underline-offset-8;
  }

  .submitButton {
    @apply bg-secondary text-primary uppercase px-4 py-2 mt-10  text-base rounded-md;
  }

  .pagePadding {
    @apply px-6 sm:px-8 md:px-10 lg:px-12 xl:px-14;
  }

  .content {
    @apply mt-6 md:mt-8 lg:mt-10 xl:mt-12 flex flex-col sm:flex-row justify-center items-start space-x-0 space-y-6 sm:space-x-6 sm:space-y-0;
  }

  .aboutText {
    @apply text-lg sm:text-xl;
  }
}

input,
textarea {
  outline: none;
  font-size: 3em;
  border: none;
  border-radius: 4px;
  @apply text-base px-3 py-2 text-tertiary w-[80vw] sm:w-[450px];
}

input:hover,
textarea:hover {
  outline-offset: 4px;
  outline: 1px solid grey;
}

label {
  @apply text-base uppercase mb-0;
}

.galleryImage {
  cursor: pointer;
  filter: grayscale(95%);
  transition: 0.35s linear;
}

.gallery img:hover {
  filter: grayscale(0);
  transform: scale(1.2);
  z-index: 100;
}
