@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: futura-pt, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

@layer utilities {
  .anchor {
    @apply uppercase text-secondary no-underline hover:underline hover:animate-bounce animate-none underline-offset-8;
  }

  .submitButton{
    @apply bg-secondary text-primary uppercase px-4 py-2 text-base rounded-md;
  }
}

input,
textarea {
  outline: none;
  font-size: 3em;
  border: none;
  border-radius: 4px;
  @apply text-base px-3 py-2 text-tertiary;

}

input:hover,
textarea:hover {
  outline-offset: 4px;
  outline: 1px solid grey;
}
